*
{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
    box-sizing: border-box;
    font-weight: bold;
    font-size:22px;
    color:teal;
    background-color:aliceblue;
}
.container
{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:silver
}
.calculator
{
    background-color:lavender;
    padding:15px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    box-shadow: inset 5px 5px 12px #fff,inset 5px 5px 12px rgba(0, 0, 0, 0.14); /*inset for inner shadow effect and black color for outside shadow effect.*/
    display: grid; /* grid is used to give the table like structure to the calculator.*/
    grid-template-columns: repeat(4,100px); /* after every 4 columns ,the columns will repeat itself and with size 100px*/
}
input{
    grid-column: span 4; /*It will span the 4 columns together , we have done it to show the result part*/
    height: 50px;
    width:360px;
    color:teal;
    border:none;
    box-shadow: inset -5px -5px 12px #fff, inset 5px 5px 12px rgb(0,0,0,0.14);/* To give shadow inside we have used inset*/
    border-radius: 30px;
    outline: none; /* we dont want any outline*/
    font-size: 50px;
    text-align: end;
    margin:40px auto;
    padding:15px;
}
input::placeholder
{
    color:teal;
}
button
{
    width:50px;
    height: 48px;
    background-color: aliceblue;
    box-shadow: -5px -5px 12px #fff, 5px 5px 12px rgb(0,0,0,0.14);
    border-radius: 30%;
    border:none;
    margin:8px auto;/* 8px is for top and bottom and auto is for left and write*/ 

}
.equal
{
    width:90px;
    border-radius: 90px;
    margin:5px 5px;
    background-color: hotpink;
}